<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fedi4.launcher"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:label="PatternLauncherMinimal"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".app.AppPickerActivity"
            android:exported="true"/>

        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- Macht die Activity als Launcher / HOME auswählbar -->
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
